body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('vino1.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* La imagen de fondo permanece fija mientras se desplaza la página */
}


.container {
    max-width: 999px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(228, 180, 247, 0.8); /* Fondo semitransparente para resaltar el contenido */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(196, 112, 112, 0.1);
}

h1 {
    text-align: center;
    color: #141313;
    font-size: 2.0em;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 20px;
}

.toggle-btn {
    background-color: #991111;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.toggle-btn:hover {
    background-color: #cc3333;
}

.content {
    display: none;
    padding: 10px;
}

.content.show {
    display: block;
}

.corpus-link {
    background-color: #ff00ff86;
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    border-radius: 5px;
}

.corpus-link:hover {
    background-color: #235d6e;
}

/* Estilos para el botón "Volver al diccionario" */
.return-button {
    background-color: #0f0f0f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px; /* Ajusta el margen superior para centrar verticalmente */
    margin-bottom: 20px; /* Espaciado inferior */
}.corpus-link {
    margin-bottom: 20px;
}


.return-button:hover {
    background-color: #da0d0d;
}
/* Estilos para el botón de traducir */
#traducir-btn {
    display: block;
    margin: 0 auto; /* Centrar horizontalmente */
    width: 150px; /* Ancho del botón */
    height: 30px; /* Altura del botón */
    font-size: 1.2em; /* Tamaño de la fuente */
    background-color: #18ad51; /* Color de fondo */
    color: rgb(248, 250, 239); /* Color del texto */
    border-radius: 3px; /* Borde redondeado */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
    transition: background-color 0.3s ease; /* Transición suave */
}

#traducir-btn:hover {
    background-color: #e40e0e; /* Color de fondo al pasar el ratón */
}
